<!doctype html>
<html>
  <head>
    <title>File Upload</title>
  </head>
  <body>
    <h1>File Upload</h1>
    <form action="#" enctype="multipart/form-data" id = "myFile">
      <p><input type="file" name="file" id = "image"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
    <h1>Add Friend</h1>
    <form action="#" enctype="multipart/form-data" id = "myFriend">
      <p><input type="file" name="friendProfilePicture" id = "friendProfilePicture"></p>
      <p><input type="text" name = "friendName" id = "friendName"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
   
    <img src="" class ="friendPic">
  </body>
  <script type = "module" src = "../js/profile.js"></script>
</html>
