<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Hello and Welcome</title>

    <!-- Bootstrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="../../css/userFriend.css">
    <script src="https://kit.fontawesome.com/c6751adc48.js" crossorigin="anonymous"></script>

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    
    <!--BootStrap Script Tags-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<body>

    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header" >
                <h3 id = "name-header">Hello</h3>
            </div>
            
            <style>
                .frame1 {
                    height: 175px;      /* Equals maximum image height */
                    white-space: nowrap; /* This is required unless you put the helper span closely near the img */

                    text-align: center;
                    margin: 1em 0;
                }

                .helper1 {
                    display: inline-block;
                    height: 100%;
                    vertical-align: middle;
                }
                .test {
                  width: 175px;
                  height: 175px;
                  /* position: absolute; */
                  vertical-align: middle;
                }
               </style>


            <ul class="list-unstyled components">

               
                
                <div style="text-align: center; " class ="frame1">
                <span class ="helper1"></span><img class="test rounded-circle" alt="80x80" src="https://www.seekpng.com/png/detail/48-482323_baby-monster-svg-scrapbook-cut-file-cute-clipart.png" class ="friendPic" id="myProfilePic">
                </div>
                <li>
                    <a role="button" id = "UpdateProfile" data-bs-toggle="modal" data-bs-target="#modal-myprofile-form" style="text-align: center; ">Update Profile <i class="fa-solid fa-user-pen"></i></a>
                </li>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa-solid fa-user-group"></i> Friends</i></a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a role="button" id = "AddFriend" data-bs-toggle="modal" data-bs-target="#modal-login-form"><i class="fa-solid fa-circle-plus"></i> Add Friend</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" id = "favourites-option">Favourites</a>
                </li>
                
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a role="button" id = "AddFile" data-bs-toggle="modal" data-bs-target="#modal-image-form" class ="download">Upload Images</a>
                </li>
                <li>
                    <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">User Guide</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto" style="margin-left: auto;">
                            <!-- Explore Images of the Ones Closest to You! -->
                            <li>
                                <a href="" id="logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <body>
              </body>

<!-- Gallery Section Start -->
<div class="row" id = "row-class">
    
</div>
      
<!-- Gallery Section End -->
    <script type ="module" src="../js/profile.js"></script>
        </div>
    </div>

    <!-- Add Friend modal -->
    <div class="modal fade" id="modal-login-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold"><span style="font-family: 'Archivo', sans-serif; font-weight: 700; font-size: 1.6rem">FaceGallery</span>  |  Add Friend</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mx-3">
            <!-- <form id="login-form"> -->
            <form action="#" enctype="multipart/form-data" id = "myFriend">
                <div class="md-form mb-4">
                <div class="form-floating mb-3">
                    <p><input type="file" class="form-control" name="friendProfilePicture" id = "friendProfilePicture" placeholder="Choose Image"></p>
                </div>
                </div>

                <div class="md-form mb-4">
                <div class="form-floating">
                    <p><input type="text" class="form-control" name = "friendName" id = "friendName" placeholder="Friend Name"></p>
                </div>
                </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                <button type="submit" form="myFriend" class="btn btn-primary">Add Friend</button>
                </div>
            </form>
            
        </div>
        </div>
    </div>
    <!-- Add Images modal -->
    <div class="modal fade" id="modal-image-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold"><span style="font-family: 'Archivo', sans-serif; font-weight: 700; font-size: 1.6rem">FaceGallery</span>  |  Add Images</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mx-3">
            <form action="#" enctype="multipart/form-data" id = "myFile">
                <div class="md-form mb-4">
                <div class="form-floating mb-3">
                    <p><input type="file" class="form-control" name="file" id = "image" placeholder="Choose Images" multiple = "multiple"></p>
                </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                <button type="submit" form="myFile" class="btn btn-primary">Upload</button>
                </div>
            </form>
            
        </div>
        </div>
    </div>
    </div>
    <!-- Update Profile modal -->
    <div class="modal fade" id="modal-myprofile-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold"><span style="font-family: 'Archivo', sans-serif; font-weight: 700; font-size: 1.6rem">FaceGallery</span>  |  Update Profile</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mx-3">
            <form action="#" enctype="multipart/form-data" id = "myProfile">
                <div class="md-form mb-4">
                <div class="form-floating mb-3">
                    <p>Add Image to Update Profile Picture</p>
                    <p><input type="file" class="form-control" name="myProfilePicture" id = "myProfilePicture" placeholder="Choose Image"></p>
                </div>
                </div>

                <div class="md-form mb-4">
                <div class="form-floating">
                    <p>Type Name to Update Username</p>
                    <p><input type="text" class="form-control" name = "myName" id = "myName" placeholder=""></p>
                </div>
                </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                <button type="submit" form="myProfile" class="btn btn-primary">Update</button>
                </div>
            </form>
            
        </div>
        </div>
    </div>

    <!--Pop Up Modal-->
    <div id="modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"  style ="border: none; background: none; color: #5961D5;" id ="modal-download-btn"><i class="fa-solid fa-circle-arrow-down "></i></button>
                    <button type="button" style ="border: none; background: none; color: #FF7F7F;"  id ="modal-favourite-btn"><i class="fa-solid fa-heart"></i></button>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id ="modal-btn"></button>
                </div>
                <div class="modal-body" id = "img-modal-body">
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>
</body>

</html>