<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Bootstrap Lightbox Image Gallery</title>
  
</head>
<body>
<!-- partial:index.partial.html -->
<html>
<head>
	<title>Photo Gallery</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,500i,700,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,900" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


	<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../../css/gallery.css">
</head>
<body>


<div class="container">
<h1 id ="friend-name"></h1>
<hr>
<div class="spinner-border" role="status" id = "loader">
</div>	
<div class="row" id = "row-class">
    
		<!-- <div class="col-lg-4 col-sm-6">
			<div class="thumbnail img-responsive">
				<a href="#" title="Image 1"><img src="https://images.unsplash.com/photo-1523279719030-9806e8392152?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=83ec2854d04d0f08312dec44bf645e2d&auto=format&fit=crop&w=500&q=60"></a>
			</div>
		</div> -->
	</div>
</div>
<div id="modal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
			</div>
			<div class="modal-body">
			</div>
		</div>
	</div>
</div>

<footer class="myFooter" id="footer-wrapper">
<div class="footer-icons">
      <a href="https://www.pinterest.com/" class="generic-anchor" target="_blank"><i class="fa fa-pinterest"></i></a>
      <a href="https://www.facebook.com/" class="generic-anchor" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/" class="generic-anchor" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="http://instagram.com/" class="generic-anchor" target="_blank"><i class="fa fa-instagram"></i></a>
      <a href="https://www.youtube.com/" class="generic-anchor" target="_blank"><i class="fa fa-youtube"></i></a>
      <a href="https://plus.google.com/" class="generic-anchor" target="_blank" ><i class="fa fa-google-plus"></i></a>
      </div>
  </section>
  <section class="footer-bottom">
<div class="footer-bottom-wrapper">   
<i class="fa fa-copyright" role="copyright"></i> 2022 <a href="https://codepen.io/pa_patki/"><strong>pa_patki</strong></a> <span class="footer-bottom-rights"> - All Rights Reserved - </span>
    </div>
  </section>
</footer>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
<!-- partial -->
<script>
    const friendIndex = "<%= friendIndex %>";
</script>

<!-- <script src="../../js/msRest.browser.js"></script>
<script src="../../js/cognitiveservices-face.js"></script> -->
<script type="module" src="../../js/face-api.js"></script>
<script type="module" src="../../js/face-api.min.js"></script>
<script type="module" src="../../js/friendPage.js"></script>


</body>
</html>
